---
const { hero } = Astro.props;
const hasBgImage = hero?.media?.video_preview;

function getAspectClass() {
    if (hero.media.aspect == 0.5625) return "aspect-16-10";
    return "";
}
---

{hero && (
    <div
        class={`hero-funnel parallax-wrap relative ${
            hero?.style?.surface || ""
        } ${hero?.style?.class || ""} ${hero?.style?.layout || ""} ${hero?.style?.media || ""}`}
        id="header">

        {hasBgImage && (
            <div class="media parallax absolute inset-0">
             
                   <video
                    class="video-background"
                    autoplay
                    loop
                    muted
                    playsinline
          
                    src={"/video/hamster_coder.mp4"}
                   />
            </div>
        )}

        <div class="relative z-10 grid aspect-auto place-items-center">
            <div class={`container-${hero?.style?.container || "xl"} py-80 ${getAspectClass()}`}>
                <div class="text-center">
					<h1 class="text-5xl font-bold">{hero.title}</h1>
					<div class="mt-4 text-xl">{hero.intro}</div>
					<div class="mt-8">{hero?.slot}</div>
				</div>
            </div>
        </div>
    </div>
)}

<style>
    .hero-funnel {
        @apply min-h-screen;
    }
    .video-background {
        overflow: hidden;
        z-index: -1; /* Ensure it is behind other content */
    }

    .video-content {
        position: fixed;
        top:50%;
        left:50%;
		opacity: 0.5;
        transform: translate(-50%, -50%);
    }
</style>